<div class="container-fluid">
    
    <div class="row justify-content-center">

        <div class="col-4" style="background-color: #808080; padding: 10px; ">
            <h2 class="text-center" style="color:white;">@localizer["Hazırlayanlar"]</h2>
            <p class="text-center" style="color:white;">Fatma Özdemir</p>
           <p class="text-center" style="color:white;">Halenur Kurtoğlu</p>
            <h2 class="text-center" style="color:white;">@localizer["İletişim Bilgileri"]</h2>
            <p class="text-center" style="color:white;">g181210001@sakarya.edu.tr</p>
           <p class="text-center" style="color:white;">g191210067@sakarya.edu.tr</p>
        </div>
    </div>
    
</div>
